/*-----------------------------ESERVICES Stylesheet----------------------------*/

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;

}


/*  Article->Index page */

.article-action-bar{
	margin-top:10px;
}

.article-index-table{
	margin-top:5px;
	border-radius: 15px;
}

/*  Article->Show page*/
.article-show-header{
	margin-top: 10px;
	padding:4px;
	height: 70px;

}

.table-article-show-left-bar{
	width: 150px;
}


/*##Authentification page  (auth.auth)##*/

.sp-authcontainer{
	padding: 20px ;
	border:1px solid rgb(220,220,220);
	background-color: white;
}

.auth-image{
	width: 100%;
}

.sp-content{
	margin-top:10px;
}

.sp-content p, .sp-content h4 {
	padding:10px;
	text-align: justify;
}

/*## Creation Client  (clients.create) ##*/
.sp-cr-panel{
	margin:10px;
}


/*Alaoui: Error Container*/
.error-container{
	opacity:0.8;
	height:auto;
	width:500px;
	padding:5px;
	position: fixed;
	bottom:0px;
	left:0px;
}

.access-error-container{
	opacity:0.8;
	height:auto;
	width:500px;
	padding:5px;
	position: fixed;
	bottom:0px;
	right:0px;
}

.data-validation-container{
	opacity:0.8;
	height:auto;
	width:500px;
	padding:5px;
	position: fixed;
	bottom:0px;
	left:0px;
}

